@{
    Layout = "~/shared/_layout1.cshtml"; 
    Page.Title = "Change Password"; 
    if (!WebSecurity.IsAuthenticated) 
    { 
        Response.Redirect("~/Default"); 
    } 
    var currentPassword = ""; 
    var newPassword1 = ""; 
    var newPassword2 = ""; 
    if(IsPost) 
    { 
        currentPassword = Request["currentPassword"]; 
        newPassword1 = Request["newPassword1"]; 
        newPassword2 = Request["newPassword2"]; 
        // Validation 
        if (currentPassword.IsEmpty()) { 
                ModelState.AddError("currentPassword", "Current Password required."); 
            } 
            if (newPassword1.IsEmpty()) { 
                ModelState.AddError("newPassword1", "Required."); 
            } 
            if (newPassword2.IsEmpty()) { 
                ModelState.AddError("newPassword2", "Required."); 
            } 
            if(newPassword1 != newPassword2) 
            { 
                ModelState.AddError("newPassword1", "The passwords do not match."); 
            } 
            // Attempt password change 
            if(ModelState.IsValid) 
            { 
                var currentUser = WebSecurity.CurrentUserName; 
                if(WebSecurity.ChangePassword(currentUser, currentPassword, newPassword1)) 
                { 
                    Response.Redirect("~/default"); 
                } 
                else 
                { 
                    ModelState.AddFormError("Unable to change password."); 
                } 
             } 
       }    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
         <table width="100%"  border="10" cellspacing="0" cellpadding="0" align="center">
		<tr><td>
       
        <h1 style="margin-left: 250px; color: #ff6a00">Change Password</h1> 
            @Html.ValidationSummary(true) 
        <form action="ChangePassword" method="post" class="accountForm"> 
            <p style="color: #0094ff; margin-left: 300px"> 
                @Html.Label("Current Password: ", "currentPassword")<br /> 
                @Html.Password("currentPassword", currentPassword) 
                @Html.ValidationMessage("currentPassword") 
            </p> 
            <p style="color: #0094ff; margin-left: 300px"> 
                @Html.Label("New Password: ", "newPassword1")<br /> 
                @Html.Password("newPassword1", newPassword1) 
                @Html.ValidationMessage("newPassword1") 
            </p> 
            <p style="color: #0094ff; margin-left: 300px"> 
                @Html.Label("Confirm New Password: ", "newPassword2")<br /> 
                @Html.Password("newPassword2", newPassword2) 
                @Html.ValidationMessage("newPassword2") 
            </p> 
            <p style="color: #0094ff; margin-left: 300px"> 
                <input type="submit" value="Change Password" /> 
            </p> 
        </form>
        </td></tr>
        </table>
    </body>
</html>
