@{
    Layout = "~/Shared/_layout1.cshtml";  

      Validation.RequireField("firstName","*Enter First Name");
      Validation.RequireField("lastName","*Enter Last Name");
      Validation.RequireField("email","*Enter Email id");
      Validation.RequireField("password","*Enter Password");
      Validation.RequireField("confirmPassword","*Enter Password again");
      Validation.RequireField("userName","*Enter User Name");
     // Validation.Add("userName", )
      var db = Database.Open("fashionStore");

      if(IsPost)
      {
          if(Validation.IsValid())
          {
              var firstName = Request.Form["firstName"];
              var lastName = Request.Form["lastName"];
              var email = Request.Form["email"];
              var password = Request.Form["password"];
              var confirmPassword = Request.Form["confirmPassword"];
              var userName = Request.Form["userName"];
              var paymentType = Request.Form["paymentType"];
              var genderSelect = Request.Form["genderSelect"];
              
              if(WebSecurity.UserExists(userName))
              {
                  ModelState.AddError("userName", "*User Name already exist" );
              }

              else if(password != confirmPassword)
              {
                  ModelState.AddError("confirmPassword", "*Password not match" );
              }

              else if(ModelState.IsValid)
                {
                    var insertquery = "Insert into userData(fName, lName,Email, Gender,userName,payment )" + "values (@0,@1,@2,@3,@4,@5)";
                    db.Execute(insertquery,firstName,lastName,email,genderSelect, userName,paymentType);
                
            
                     WebSecurity.CreateUserAndAccount(userName,password);
                     WebSecurity.Login(userName, password);
                     Roles.AddUserToRole(userName,"user");
                     Response.Redirect("~/user/welcome.cshtml");
            
                }             
          }
      }
  
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
    <form id="signup" method="post" action="" style="border: outset; margin-top: 0px; margin-left: 0px; margin-right: 0px; height: auto; width: 100%">                    
        <table width="100%"  border="10" cellspacing="0" cellpadding="10" align="center" >
            <tr>
                <td height="85" align="center" valign="top">
                    <h3 class="txt" style="color: #ff6a00">Create New Customer Account</h3>
                    <table width="90%"  border="0" cellspacing="0" cellpadding="10" align="center">
                        <tr>
                        <td class="txt" style="color: #ff6a00">First Name</td>
			            <td ><input name="firstName" type="text" id="fName" value=@Request["firstName"]></td>
                        <td width="50%" class="error">@Html.ValidationMessage("firstName")</td>
                        </tr>
                        <tr>
                        <td class="txt" style="color: #ff6a00" >Last Name</td>
			            <td ><input name="lastName" type="text" id="lName" value=@Request["lastName"]></td>
                        <td  class="error">@Html.ValidationMessage("lastName") </td>
                        </tr>

                        <tr>
                        <td class="txt" style="color: #ff6a00" >User Name</td>
			            <td ><input name="userName" type="text" id="uName" value=@Request["userName"]></td>
                        <td  class="error">@Html.ValidationMessage("userName") </td>
                        </tr>

                        <tr>
                        <td class="txt" style="color: #ff6a00">Gender </td>
			            <td ><select name="genderSelect" class="cls"  id="genderSelect" value ="@Request["genderSelect"] ">
											<option value="Male" >Male</option>
                                            <option value="Female">Female</option>
                                            </select></td>
                        </tr>
                        <tr>
                        <td class="txt" style="color: #ff6a00">Email </td>
			            <td ><input name="email" type="text"  id="email" value=@Request["email"]></td>
                        <td  class="error">@Html.ValidationMessage("email") </td>
                        </tr>
                        <tr>
                        <td class="txt" style="color: #ff6a00">Password</td>
			            <td ><input name="password" type="password" id="password"  value=@Request["password"]></td>
                        <td  class="error">@Html.ValidationMessage("password") </td>
                        </tr>
                        <tr>
                        <td class="txt" style="color: #ff6a00">Confirm Password</td>
			            <td ><input name="confirmPassword" id="confirmPassword" type="password" value=@Request["confirmPassword"]></td>
                        <td  class="error">@Html.ValidationMessage("confirmPassword")</td>
                        </tr>
                        <tr>
                        <td class="txt" style="color: #ff6a00">Payment Type </td>
			            <td ><select name="paymentType" class="cls"  id="paymentType" value ="@Request["paymentType"] ">
											<option value="PayPal">PayPal</option>
                                            </select></td>
                        </tr>


                     </table>
                   <input type="submit" value="Register" class="button"  style="color: #ff6a00"/>   
                    </td>
                </tr>
            </table>
        </form>
        
    </body>
</html>
