@{
    
}
			  <table width="100%"  border="10" cellspacing="0" cellpadding="0" >
					<tr align="left" valign="top">
					  <td width="209" height="363">
						<div style="margin-top: 0px"><img src="@Href("~/images/products.jpg")" alt="" width="94%" height="60" style="margin-top: 0px; "></div>
						<div class="button1" style="margin-top: 0px"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/product/allProducts.cshtml" id="wht2">View Products</a></div>
                        <div class="button1"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/product/Add_Product.cshtml" id="wht2">Add Product</a></div>
						<div class="button1"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/product/updateProduct.cshtml" id="wht2">Update Product</a></div>
						<div class="button1"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/product/deleteProduct.cshtml" id="wht2">Delete Product</a></div>
						<div><img src="@Href("~/images/categories.jpg")" alt="" width="94%" height="60" style="margin-left: 0px; "></div>
						<div class="button1"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/category/allCategory.cshtml" id="wht2">View Category</a></div>
                        <div class="button1"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/category/addCategory.cshtml" id="wht2">Add Category</a></div>
						<div class="button1"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/category/updateCategory.cshtml" id="wht2">Update Category</a></div>
						<div class="button1" style=" margin-bottom: 0px"><img src="~/images/spacer.gif" alt="" width="25" height="19"><a href="~/admin/category/deleteCategory.cshtml" id="wht2" style="margin-bottom: 5px;">Delete Category</a></div>
					    <td class="intro" width="534">
                           <marquee><img src="images/bangle.jpg"  alt="" width="534" height="371" border="5">
                            <img src="images/bride.jpg" alt="" width="534" height="371" border="5">
                            <img src="images/shoe.jpg" alt="" width="534" height="371" border="5">
                            <img src="images/wallet.jpg" alt="" width="534" height="371" border="5">
                          <img src="images/watches.jpg" alt="" width="534" height="371" border="5">
                          <img src="images/jewel.jpg" alt="" width="534" height="371" border="5"></marquee>
                            </td>
					  <td width="247">
							  <table width="246"  border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td>
						            <div class="button1" style="margin-top: 40px; margin-left: 20px"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/user/welcome.cshtml" id="wht2">User Home</a></div>
                                      <div class="button1" style="margin-top: 0px; margin-left: 20px"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/adminSearch.cshtml" id="wht2">Search</a></div>
						            <div class="button1" style="margin-top: 0px; margin-left: 20px"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/logout.cshtml" id="wht2">Log Out</a></div>

                                  </td>
								</tr>
                                  <tr> <td>
						            <div style="margin-top: 40px; margin-left: 20px"><img src="@Href("~/images/roles.jpg")" alt="" width="94%" height="60" style="margin-top: 0px; "></div>
						            <div class="button1" style="margin-top: 0px; margin-left: 20px"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/roles/allRoles.cshtml" id="wht2">View All Roles</a></div>
                                    <div class="button1" style="margin-top: 0px; margin-left: 20px"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/roles/addRole.cshtml" id="wht2">Add Roles</a></div>
						            <div class="button1" style="margin-top: 0px; margin-left: 20px"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/roles/updateRoles.cshtml" id="wht2">Update Roles</a></div>
						            <div class="button1" style="margin-top: 0px; margin-left: 20px"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/roles/deleteRole.cshtml" id="wht2">Delete Roles</a></div>
						         </td>
								</tr>
								
							  </table>
					  </td>
					</tr>
				  </table>
	