@{
    Layout="~/admin/shared_admin/_layout1.cshtml";
   Validation.RequireField("pName", "Product name is required.");
    Validation.RequireField("pDescription", "Product description is required.");
    Validation.RequireField("pPrice", "Product price is required.");

    var db = Database.Open("fashionStore");
    var selectQueryString = "SELECT * FROM Product WHERE Id=@0";
    

    var ProductId  = UrlData[0];
    if (ProductId.IsEmpty()) {
         Response.Redirect("~/admin/product/updateProduct.cshtml");
    }

    var row = db.QuerySingle(selectQueryString, ProductId);
    var pName = row.pName;
    var pDescription = row.pDescription;
    var pPrice = row.pPrice;
    
    var uName = Request.Form["pName"];
    var uDescription = Request.Form["pDescription"];
    var uPrice = Request.Form["pPrice"];

    
    if (IsPost && Validation.IsValid()) {
        var updateQueryString =
            "UPDATE Product SET pName=@0, pDescription=@1, pPrice=@2 WHERE Id=@3" ;
        db.Execute(updateQueryString, uName, uDescription, uPrice, ProductId);
        Response.Redirect(@Href("~/admin/adminHome.cshtml")); 
        }
}

<!DOCTYPE html>

<html lang="en">
    <head>
            <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link href="style.css" rel="stylesheet" type="text/css">
    
        <title>Add Products</title>
          <style type="text/css">
             label { float: left; width: 8em; text-align: right;
                     margin-right: 0.5em;}
             fieldset { padding: 1em; border: 1px solid; width: 35em;}
             legend { padding: 2px 4px;  border: 1px solid; font-weight: bold;}
             .validation-summary-errors {font-weight:bold; color:red; font-size:11pt;}
          </style>
    </head>
    <body>
     <table width="100%"  border="10" cellspacing="0px" cellpadding="0">
       <tr >
        <tr><td>

        <table style="margin-left: 300px; border: 10; margin-bottom: 10px; background: #0094ff; color:#f00">
        <h2 style="margin-left: 380px; color: #0026ff ; "> Update Product </h2></tr>

        
   @Html.ValidationSummary()
   <form method="post" action="" style="margin-left: 300px">
     <fieldset style="margin-left: 200px">
       <legend>Update Product</legend>
       <div>
         <label>Name:</label>
         <input name="pName" type="text" size="50" value="@pName" />
       </div>
       <div>
         <label>Description:</label>
         <input name="pDescription" type="text" size="50"
            value="@pDescription" />
       </div>
       <div style="margin-bottom: 10px">
          <label>Price:</label>
          <input name="pPrice" type="text" size="50" value="@pPrice" />
       </div>
       <div>
          <label>&nbsp;</label>
          <input type="submit" value="Update" class="submit" />
       </div>
    </fieldset>
  </form>
         </table>
        </td>
         </tr>
         </table>
    </body>
</html>
