@{
    Layout = "shared_admin/_layout.cshtml";

    string value="";
    var fetch=0;
    
    var  db = Database.Open("fashionStore");
    var query = "SELECT * FROM Product ORDER BY pName";
    var data = db.Query(query);

    var query1 = "SELECT * FROM Product ORDER BY id OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY";
    var data1= db.Query(query1);

    var query2 = "SELECT * FROM Product ORDER BY id OFFSET 3 ROWS FETCH NEXT 3 ROWS ONLY";
    var data2= db.Query(query2);

    var count=data.Count();
    
    
    if(IsPost)
    {
           if(Request.Form["submit_button"]=="Next"){
               if(App.offset2>count)
               {
                    
                    fetch=3;
                    var query3="SELECT * FROM Product ORDER BY id OFFSET "+ @App.offset1 +" ROWS FETCH NEXT "+ fetch +" ROWS ONLY";
                    data1= db.Query(query3);
                    var query4="SELECT * FROM Product ORDER BY id OFFSET "+ @App.offset2 +" ROWS FETCH NEXT "+ fetch +" ROWS ONLY";
                    data2= db.Query(query4);

               }
               else
               {    
                    App.offset1=App.offset1+6;
                    App.offset2=App.offset2+6;
                    fetch=3;
                    if(App.offset1>=0 && App.offset2>=0)
                    {
                 
                    
                        var query3="SELECT * FROM Product ORDER BY id OFFSET "+ @App.offset1 +" ROWS FETCH NEXT "+ fetch +" ROWS ONLY";
                        data1= db.Query(query3);
                        var query4="SELECT * FROM Product ORDER BY id OFFSET "+ @App.offset2 +" ROWS FETCH NEXT "+ fetch +" ROWS ONLY";
                        data2= db.Query(query4);
                    
                    }
                    else
                    {
                        App.offset1=App.offset1-6;
                        App.offset2=App.offset2-6;
                    }
                 }
                
            if(Request.Form["submit_button"]=="Previous")
            {
                App.offset1=App.offset1-6;
                App.offset2=App.offset2-6;
                fetch=3;
                if(App.offset1>=0 && App.offset2>=0)
                {
                    var query3="SELECT * FROM Product ORDER BY id OFFSET "+ @App.offset1 +" ROWS FETCH NEXT "+ fetch +" ROWS ONLY";
                    data1= db.Query(query3);
                    var query4="SELECT * FROM Product ORDER BY id OFFSET "+ @App.offset2 +" ROWS FETCH NEXT "+ fetch +" ROWS ONLY";
                    data2= db.Query(query4);
                }
                else
                {
                    App.offset1=App.offset1+6;
                    App.offset2=App.offset2+6;
                }
            }
           
          }
                 
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
<head>
        <title>Online Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <form action="" method="post">

      <table width="100%"  border="10" cellspacing="0" cellpadding="0" align="center">
	    <tr>
		     <td height="531" align="left" valign="top">
             <table width="100%"  border="0" cellspacing="0" cellpadding="0">
					<tr>
						  <td height="649" align="left" valign="top" class="tbody">
						  <table width="990" height="636"  border="0" cellpadding="0" cellspacing="0">
							<tr align="left" valign="top">
							  <td width="209" height="636">
									  <table width="208"  border="0" cellspacing="0" cellpadding="0">
										
										<tr>
											  
											  <td><img src="images/hot.jpg" alt="" width="208" height="348" valign="top" border="2"></td>	
										</tr>
                                        <tr>	  
                                            <td><img src="images/watch.jpg" alt="" width="208" height="348" valign="top" border="2"></td>		
							            </tr>	    
                              </td>
							</tr>
						</table>
							  </td>
							  <td width="781">
							  <table width="780" height="644"  border="0" cellpadding="0" cellspacing="0">
									<tr align="left" valign="top">
									  <td width="23" height="382"><img src="images/spacer.gif" alt="" width="10" height="10" border="0"></td>
									  <td width="735">
											  <table width="734"  border="0" cellspacing="0" cellpadding="0">
												<tr>
												  <td>&nbsp;</td>
												</tr>
												<tr>
												  <td><span class="style1">Online Fashion Store</span></td>
												</tr>
												<tr>
												  <td><img src="images/hr.jpg" alt="" width="731" height="12"></td>
												</tr>
												<tr>
												  <td height="62">The fashion destination where you can shop over 850 brands, including vintage and second hand, buy your favourite hair and beauty brands, create and share looks, keep up-to-date with street style and catwalk reports and even sell your fashion cast-offs via ASOS Marketplace.</td>
												</tr>
											  </table>
                                                 
												<table width="734"  border="0" cellspacing="0" cellpadding="0">
												  <tr>
													<td><img src="images/a1.jpg" width="731" height="25"></td>
												  </tr>
												  <tr>
													<td>
                                                 
														<table width="734"  border="0" cellspacing="0" cellpadding="0">
														  <tr>
                                                              <form action="" method="post">
															<td width="58"><img src="images/a2.jpg" alt="" width="58" height="268" border="0"></td>
	                                                        @foreach(var row in data1)
                                                            {
		                                                        <td width="100%">
                                                                 
                                                                @productHelper.defaultPage(row.pImage,row.pName,row.pPrice)</td>
                                                            }
                                                            <td width="102"><img src="images/a6.jpg" alt="" width="58" height="268" border="0"></td>
														  </form>
                                                          </tr>
														</table>
                        			    				
                                                        <table width="734"  border="0" cellspacing="0" cellpadding="0">
														  <tr>
                                                              <form action="" method="post">
															<td width="58"><img src="images/a2.jpg" alt="" width="58" height="268" border="0"></td>
	                                                        @foreach(var row in data2)
                                                            {
		                                                        <td width="100%">
                                                                @productHelper.defaultPage(row.pImage,row.pName,row.pPrice)</td>
                                                            }
                                                            <td width="102"><img src="images/a6.jpg" alt="" width="58" height="268" border="0"></td>
														  </form>
                                                          </tr>
														</table>

													</td>
												  </tr>
												  <tr>
												  </tr>
												</table>
                                          
									  </td>
									  <td width="22"><img src="images/spacer.gif" alt="" width="10" height="10" border="0"></td>
									</tr>
							  </table>
                                 
                                                     <input name="submit_button" type="submit" value="Previous" class="button1" style="margin-left: 170px;"/>
                                                    <input name="submit_button" type="submit" value="Next" class="button1" style="margin-left: 50px; margin-bottom: 10px"/> 
							  </td>
							</tr>
						  </table>
						  </td>
					</tr>
				  </table>
	
            	    </td>
	    </tr>
	</table>
    </form>    </body>
</html>
