@{
    
}
			  <table width="100%"  border="10" cellspacing="0" cellpadding="0" >
					<tr align="left" valign="top">
					  <td width="209" height="363">
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="~/default.cshtml" id="wht2">Home</a></div>
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="@Href("~/searchCategory.cshtml", "clothing")" id="wht2">Clothing</a></div>
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="@Href("~/searchCategory.cshtml", "shoes")" id="wht2">Shoes</a></div>
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="@Href("~/searchCategory.cshtml", "watches")" id="wht2">Watches</a></div>
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="@Href("~/searchCategory.cshtml", "clutches")" id="wht2">Clutches</a></div>
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="@Href("~/searchCategory.cshtml", "eyes")" id="wht2">Eye MakeUp</a></div>
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="@Href("~/searchCategory.cshtml", "jewellery")" id="wht2">Jewellery</a></div>
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="@Href("~/searchCategory.cshtml", "glasses")" id="wht2">Glasses</a></div>
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="@Href("~/searchCategory.cshtml", "bridal")" id="wht2">Bridal Dresses</a></div>
						<div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="~/AboutUs.cshtml" id="wht2">About Us</a></div>
					  <div class="button1"><img src=@Href("images/spacer.gif") alt="" width="25" height="19"><a href="~/ContactUs.cshtml" id="wht2">Contact Us </a></div>		  </td>
					  <td class="intro" width="534">
                          <marquee><img src=@Href("images/bangle.jpg")  alt="" width="534" height="371" border="5">
                            <img src=@Href("images/bride.jpg") alt="" width="534" height="371" border="5">
                            <img src=@Href("images/shoe.jpg") alt="" width="534" height="371" border="5">
                            <img src=@Href("images/wallet.jpg") alt="" width="534" height="371" border="5">
                          <img src=@Href("images/watches.jpg") alt="" width="534" height="371" border="5">
                          <img src=@Href("images/jewel.jpg") alt="" width="534" height="371" border="5"></marquee>
                            </td>
					  <td width="247">
							  <table width="246"  border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td><img src=@Href("images/banner1.jpg") alt="" width="247" height="205" border="0"></td>
								</tr>
								<tr>
								  <td><img src=@Href("images/banner2.jpg") alt="" width="247" height="166" border="0"></td>
								</tr>
							  </table>
					  </td>
					</tr>
				  </table>
	